html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo_container {
  padding: 1.93rem 0 1.93rem 1.5rem;
}

.logo {
  max-width: 6.93rem;
}

.menu_icons {
  padding: 1.5rem 1.5rem 1.5rem 0;
}

#openMenu,
#closeMenu {
  background: none;
  border: none;
}

#ulContainer,
#closeMenu {
  display: none;
}

.right_container img {
  display: block;
  max-width: 43.56rem;
}

.left_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #2D2641;
  padding: 5.81rem 1.5rem;
}
.left_container h1 {
  max-width: 20.43rem;
  font-family: "DM Serif Display", serif;
  color: #FFF;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
  letter-spacing: -0.667px;
}
.left_container p {
  max-width: 19.43rem;
  font-family: "Karla", sans-serif;
  color: #FFF;
  font-size: 1rem;
  line-height: 1.62rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.left_container a {
  font-family: "Karla", sans-serif;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.81rem 1.75rem;
  font-size: 0.81rem;
  font-weight: 700;
  border: 1.5px solid #FFF;
  letter-spacing: 1.5px;
}

.mid_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8.75rem;
}

.mid_h2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  color: #2C2830;
  max-width: 20.43rem;
  line-height: 3rem;
  letter-spacing: -0.667px;
  margin-bottom: 5rem;
}

.line_separator {
  border-top: 1px solid #C396C6;
  max-width: 9.37rem;
  width: 100%;
  margin-bottom: 2.5rem;
}

.benefits_wrap {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-bottom: 8.75rem;
}

.benefits_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits_container img {
  max-width: 5.37rem;
  margin-bottom: 2rem;
}

.text_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.text_content h3 {
  font-family: "DM Serif Display", serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.389px;
  color: #2C2830;
}
.text_content p {
  font-family: "Karla", sans-serif;
  text-align: center;
  max-width: 20.43rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.62rem;
  color: #837D88;
}

.find_container {
  padding: 0 1.5rem;
  margin-bottom: 8.74rem;
  width: 100%;
}

.find_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background-color: #2D2641;
  padding: 4.5rem 1.5rem;
  width: 100%;
}
.find_content h2 {
  max-width: 17.43rem;
  font-family: "DM Serif Display", serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #FFF;
  font-weight: 400;
  letter-spacing: -0.556px;
}
.find_content a {
  font-size: 0.81rem;
  font-family: "Karla", sans-serif;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  border: 1.5px solid #FFF;
  padding: 0.81rem 1.5rem;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  padding: 5.5rem 1.56rem 5.5rem 1.43rem;
}

.footer_logo {
  margin-bottom: 2rem;
}

.social_media_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer_line_separator {
  border: 1px solid #DADADA;
  width: 100%;
}

.social_media_content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2.5rem;
}

.same_class {
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.same_class h5 {
  color: #837D88;
  text-transform: uppercase;
  font-size: 0.81rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-top: 2.5rem;
}

.footer_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.footer_links a {
  color: #2D2641;
  font-size: 0.81rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-decoration: none;
}

.intro_desktop_left,
.intro_desktop_right,
.find_desktop_pattern,
.pattern_footer_desktop,
.nav_pattern {
  display: none;
}

.intro_mobile_left,
.intro_mobile_right,
.find_mobile_pattern,
.pattern_footer_mobile {
  position: absolute;
}

.intro_mobile_left,
.pattern_footer_mobile {
  top: 0;
  left: 0;
}

.intro_mobile_right {
  bottom: -189px;
  right: -1px;
}

.find_mobile_pattern {
  top: 0;
  right: 0;
}

#menuBackground {
  position: absolute;
  top: 85px;
  left: 0;
  padding: 2.5rem 1.5rem 0 1.5rem;
}

#ulContainer {
  list-style: none;
  text-align: center;
}
#ulContainer li a {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1.364px;
}
#ulContainer .view_plans {
  width: 100%;
  padding: 0.56rem 0;
  border: 1.5px solid #FFF;
}

.li_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav_pattern {
  position: absolute;
  bottom: 104px;
  left: 0;
}/*# sourceMappingURL=style.css.map */